.home {
    width: 100%;
    background: #000;
    height: 100vh;
    position: relative;
    display: flex;
    justify-content: center;

    img {
        width: 100%;
        object-fit: cover;
        opacity: 0.2;
        height: 100%;
        filter: drop-shadow(-3px -2px 30px #000000)
    }

    .actions {
        position: absolute;
        top: 15rem;
        color: #fff;
        font-size: 2.5rem;
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 1rem;

        .buttons {
            display: flex;
            gap: 2rem;

            button {
                width: 200px;
                padding: 15px 2rem;
                border-radius: 30px;
                color: #fff;
                border: none;
                outline: none;
            }
        }

    }
}

.sectionMovies {
    background: #000;
    color: #fff;
    padding: 0 3rem 2rem 3rem;
}