.home {
    width: 100%;
    background: #000;
    height: 100vh;
    position: relative;
    display: flex;
    justify-content: center;

    img {
        width: 100%;
        object-fit: cover;
        opacity: 0.2;
        height: 100%;
        filter: drop-shadow(-3px -2px 30px #000000)
    }

    .actions {
        position: absolute;
        top: 15rem;
        color: #fff;
        font-size: 2.5rem;
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 1rem;

        .buttons {
            display: flex;
            gap: 2rem;

            button {
                width: 200px;
                padding: 15px 2rem;
                border-radius: 30px;
                color: #fff;
                border: none;
                outline: none;
            }
        }

    }
}

.sectionMovies {
    background: #000;
    color: #fff;
    padding: 0 3rem 2rem 3rem;

    .title {
        display: flex;
        align-items: center;
        position: relative;
        padding-top: 3rem;
        margin-bottom: 1.5rem;

        h1 {
            font-size: 1.6rem;
            font-weight: 400;
        }

        ul {
            display: flex;
            gap: 1rem;
            position: absolute;
            left: 20rem;

            button {
                width: 150px;
                background: #121417;
                color: #fff;
                padding: 9px 2rem;
                border-radius: 30px;
                transition: 0.5s;
                cursor: pointer;

                &:hover {
                    background: #000;
                    border: 2px solid #b11623;
                }
            }
        }
    }

    .card {
        width: 200px;
        border-radius: 10px;
        position: relative;
        height: 270px;

        img {
            width: 100%;
            border-radius: 10px;
            opacity: 0.5;
            height: 100%;
        }

        p {
            position: absolute;
            bottom: 4rem;
            left: 1rem;
            font-weight: 600;
            font-size: 0.8rem;
        }

        .voto {
            position: absolute;
            bottom: 2.8rem;
            left: 1rem;
            display: flex;
            font-weight: 700;
            font-size: 0.8rem;
            justify-content: space-between;
            gap: 3rem;
            margin-top: 10px;
            color: rgb(219, 200, 200);

            span {
                font-weight: 700;
                font-size: 0.8rem;
            }
        }
    }
}