.inspectMovie {
    width: 100%;
    padding-top: 5rem;
    background: #000;
    color: #fff;
    position: relative;
    height: 100vh;

    .infoMovie {
        width: 90%;
        z-index: 2;
        margin: 4rem auto;
        display: flex;
        padding: 0 3rem;
        gap: 3rem;

        img {
            width: 250px;
            border-radius: 20px;
            box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
        }

        .containerInfosMovie {
            padding-right: 11rem;

            span {
                text-transform: uppercase;
                letter-spacing: 4.2px;
                font-size: 0.8rem;
            }

            .watchMovieTitle {
                text-align: center;
            }

            h1 {
                font-size: 3.5rem;
                font-weight: 800;
                margin: 1.3rem 0;

                @media only screen and (max-width: 400px) {
                    font-size: 1.5rem!important;
                }
            }

            .infos {
                margin-top: 0.6rem;
                display: flex;
                justify-content: space-between;
                width: 400px;

                span {
                    letter-spacing: 2px;
                }

                .trailer {
                    display: flex;
                    gap: 1rem;
                    align-items: center;
                    font-size: 0.8rem;
                    cursor: pointer;
                    z-index: 10;

                    &:hover {
                        transform: scale(1.1);
                    }
                }
            }

            .genres {
                display: flex;
                gap: 1rem;
                margin: 1rem 0;
                flex-wrap: wrap;

                span {
                    letter-spacing: normal;
                    font-weight: 700;
                    z-index: 22;
                    text-transform: inherit;
                    padding: 0.3rem 1rem;
                    background: rgba(88, 86, 86, 0.25);
                    border-radius: 50px;
                }
            }

            .buttons {
                display: flex;
                gap: 1rem;
                z-index: 22;
                margin-top: 1rem;

                button {
                    z-index: 22;
                    padding: 1rem 3rem;
                    background: rgba(88, 86, 86, 0.25);
                    border: none;
                    border-radius: 50px;
                    font-weight: 700;
                    display: flex;
                    align-items: center;
                    gap: 0.3rem;
                }

                .deslikeButton {
                    background: var(--red);
                    transition: 0.3s;
                }
            }

            p {
                margin: 1.7rem 0;
                font-size: 1rem;
                line-height: 22px;
            }
        }

        @media screen and (max-width: 900px) {
            flex-direction: column;
            align-items: center;
            padding-bottom: 2rem;
            width: 100%;
            margin: 4rem 0 0 0 ;

            .containerInfosMovie {
                display: flex;
                flex-direction: column;
                align-items: center;
                margin: 0 auto;
                padding-right: 0rem;

                h1 {
                    font-size: 2.5rem;
                }

                .infos {
                    width: 100%;
                }

                .genres {
                    justify-content: center;
                }

                p {
                    font-size: 0.8rem;
                }
            }
        }
    }

    .imgBanner {
        width: 100%;
        object-fit: cover;
        position: absolute;
        top: 0rem;
        left: 0rem;
        right: 0rem;
        z-index: 1;
        opacity: 0.1;
        height: 100%;
    }

    .loading {
        position: absolute;
        top: 15rem;
        left: 0rem;
        right: 0rem;
        display: flex;
        justify-content: center;
    }

    @media screen and (max-width:900px) {
        height: auto;
    }
}