.title {
    display: flex;
    align-items: center;
    position: relative;
    padding-top: 3rem;
    margin-bottom: 1.5rem;

    h1 {
        font-size: 1.6rem;
        font-weight: 400;
    }

    ul {
        display: flex;
        gap: 1rem;
        position: absolute;
        left: 20rem;

        button {
            width: 150px;
            background: var(--grayDark);
            color: #fff;
            padding: 9px 2rem;
            border-radius: 30px;
            transition: 0.5s;
            cursor: pointer;

            &:hover {
                background: #000;
                border: 2px solid var(--red);
            }
        }
    }
}

.card {
    width: 150px;
    border-radius: 10px;
    position: relative;
    height: 220px;
    cursor: pointer;
    transition: 0.4s;

    img {
        width: 100%;
        border-radius: 10px;
        opacity: 0.5;
        height: 100%;
    }

    p {
        position: absolute;
        bottom: 4rem;
        left: 0.5rem;
        font-weight: 600;
        font-size: 0.8rem;
    }

    .voto {
        position: absolute;
        bottom: 2.8rem;
        left: 0.5rem;
        display: flex;
        font-weight: 700;
        font-size: 0.6rem;
        justify-content: space-between;
        margin-top: 10px;
        color: rgb(219, 200, 200);
        width: 132px;

        span {
            font-weight: 700;
            font-size: 0.7rem;
        }
    }

    &:hover {
        transform: scale(1.05);
        border-radius: 10px;
        opacity: 0.5;
    }
}